/* Arquivo responsável pela estilização do html no qual o mapa está contido */
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f8f9fa;
    margin-top: -25px;
    height: 100%;
    overflow: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: left;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite a quebra de linha quando necessário */
    margin-bottom: 0px;
}

.header h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 0px;
    flex-grow: 1; /* Faz o título crescer conforme o espaço disponível */
    min-width: 200px;
}

.header p {
    font-size: 18px;
    color: #666;
    margin-top: -20px;
    flex-basis: 100%;
    text-align: left;
    font-weight: bold;
}

.warning {
    background-color: #fff3cd;
    color: #856404;
    border-left: 5px solid #ffeeba;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

.icon-container {
    width: 100px;
    height: 100px;
}

.icon-container img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.map-container {
    width: 100%;
    text-align: center;
}

#mapDiv {
    width: 60%;
    max-width: 60%;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

#mapDiv .leaflet-container {
    width: 40% !important;
    height: 40% !important;
}

/* Responsividade para que a logo do SVAA fique centralizada dependendo do tamanho da tela */
@media (max-width: 979px){
    .icon-container {
        margin-top: -6px;
        margin-bottom: 15px;
    }
}
